* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
    text-decoration: none;
}


/*MENU*/
.navigation {

    position: absolute;
    top: 10px;
    right: 1px;
    width: 100px;
    height: 55px;
    background: #fff;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    transition: 1s, 1s;
    transition-delay: 0s, 0.7s;
    overflow: hidden;
    max-width: 300px;
    z-index: 2;

    
}

.navigation:hover {

    width: 250px;
    height: 400px;
    position: fixed;
    right: 0;
    overflow: hidden;
    transition: width 1s, height 1s;
    transition-delay: 0s, 0.7s;
    
}


.navigation .boxUser {

    position: relative;
    width: 50px;
    height: 55px;
    background: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    transition-delay: 0.5s;
    white-space: nowrap;
    color: #555;
    font-size: 0.9em;
    
}

.navigation:hover .boxUser {
    width: calc(100% - 45px);
}

.navigation .boxUser .imgBox {
    position: relative;
    min-width: 55px;
    height: 55px;
    overflow: hidden;
    background: #000;
    border-radius: 50%;
    border: 10px solid #fff;

}

.navigation .boxUser .imgBox img {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.navigation .menuExpansive {
    position: relative;
    width: 55px;
    height: 55px;
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navigation .menuExpansive::before {

    content: '';
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;

    transform: translateY(-10px);
    transition: 0.1s;
    box-shadow: 0 10px #555;

}

.navigation .menuExpansive::after {

    content: '';
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: translateY(10px);
    transition: 0.5s;


}

.navigation:hover .menuExpansive::before {

    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0px #555;

}

.navigation:hover .menuExpansive::after {

    transform: translateY(0px) rotate(-45deg);

}

.menu {
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 4em;
    padding: 20px;
    right: 12em;
    white-space: nowrap;

}

.menu li {
    list-style: none;
}

.menu li a {
    display: inline-block;
    align-items: center;
    margin: 20px 0;
    font-size: 1em;
    text-decoration: none;
    color: #555;
}

.menu li a:hover {
    color: #000;
}


#s{

    background: rgba(0, 0, 0, 0.3);
    height: 1px;
    width: 100%;
    
}

@media only screen and (max-width: 768px){

    /*SLIDES*/
    .content {
        
        overflow: hidden;
        position: relative;
        content: "";
    
    }

    .select {

        position: absolute;
        bottom: 5%;
        left: 50%;
        display: flex;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        justify-content: center;
    }

    .bar{

        width: 2vw;
        height: 1vh;
        border: 2px solid #fff;
        margin: 3px;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.8s;

    }

    .bar:hover{
        background: #fff;

    }

    #radio1,#radio2,#radio3,#radio4 {
        display: none;
    }

    .slides {
        display: flex;
        width: 400%;
        height: 100%;
        object-fit: cover;
        text-align: center;
    }

    .slide {
        width: 25%;
        transition: 1s;

    }

    .slide img {
        width: 100%;
        height: 50vh;
        min-width: 360px;
        max-height: 500px;
        object-fit: cover;

    }

    #radio1:checked~.s1 {
        margin-left: 0;
        
        
    }

    #radio2:checked~.s1 {
        margin-left: -25%;
        
    }

    #radio3:checked~.s1 {
        margin-left: -50%;
        
    }

    #radio4:checked~.s1 {
        margin-left: -75%;
        
    }


    /*Localização*/
    .menu-localization {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 100vw;
        height: 10vh;
        background: rgba(0,0,0,.6);
        border-radius: 10px;
        bottom: 30%;
        z-index: 1;
    }
    
    #citys{
        position: relative;
        width: 40vw;
        height: 5vh;
        text-align: center;
        background: #fff;
        border: #000;
        border-radius: 20px;
        -webkit-appearance: none;
        left: 10px;
    }

    #type{
        
        position: relative;
        text-align: center;
        width: 40vw;
        height: 5vh;
        left: 20px;
        border: #000;
        border-radius: 20px;
        -webkit-appearance: none;
        
    }

    #search{
        position: relative;
        width: 20vw;
        left: 10px;
        height: 5vh;
        background: rgba(0,0,0,0);
        border: none;
       }

    #search img{
        
        width: 50%;
        height: 100%;
        object-fit: contain;
        transition: 0.7s;

    }


    /*Texto*/

    .texts {
        margin:0;
        width: 90vw;
        position: relative;
        text-align: inherit;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: -1px;

    }
    
    .texts h2{
        font-size: 20px;
        color: #555;
        
        
    }


    .texts h1{
        
        font-size: 30px;
        color: #000;

    }


    .texts p{
        color: #000;
        font-size: 20px;
        
        
    }
    

    .texts .history{
        
        color: #559;
        background: #fff;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 4vh;
        border: #559 solid 0.1px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ;
    }

    /*Propriedades*/

    .content_properties{
        top:20px;
        position: relative;
        overflow: hidden;
        width: 100vw;
        height:40vh;
        margin: auto;
        overflow-x: scroll;
        
    }

    .slides_properties {
        display: flex;
        width: 100%;
        height: 100%;
    }

    #radiop1,#radiop2{
        display: none;
    }

   

    .slide_properties img {
        width: 45vw;
        height: 40vh;
        border: 4.5px solid #fff;
        object-fit: cover;
    }

    /*Informações Propriedades*/

    .price_propertie{
        position: absolute;
        z-index: 5;
        bottom: 10%;
        margin-left: auto;
        background: rgba(0, 0, 0, 0.92);
        width: 44.5%;
        height: 25%;
        margin-right: auto;
        border-radius: 3px;
        color:#fff;
        overflow: hidden;
        font-size: 12px;
    }

    .price_propertie li{

        position: relative;
        margin-left: 5px;
        list-style: none;
        font-family: 'Raleway', sans-serif;

    }
    
    .price_propertie .plocalization{
        text-transform: uppercase;
        color: #fff;

        font: small-caps bold 16px/2;
        
    }

    .price_propertie .pinformations{
        color:#559;
        word-spacing: 10px;
        
    }

    .price_propertie .pprice{
        color:white;
    }

    .pphone a{
        position: absolute;
        color:#fff;
        font-family: 'Raleway', sans-serif;
        transition: 1s;
        
    }

    .pphone a:hover{
        background: rgba(255, 255, 255);
        color:#000;
        border-radius: 5px;
        transition: 1s;
    }

    footer{
        position: absolute;
        height: 10%;
        width: 100%;
        background: #18181B;

    }

    .s{
        display: flex;
        margin: auto;
        margin-bottom: auto;
        background: red;
        width: 90%;
        height: 100%;
    }


 
}

@media only screen and (min-width: 768px) {
    
    .content {

        top: 10px;
        height: 90vh;
        width: 95vw;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        margin-right: auto;
        margin-left: auto;
        

    }

    .select {

        display: block;
        position: absolute;
        bottom: 5%;
        left: 50%;
        display: flex;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        justify-content: center;
    }

    .bar{

        width: 2vw;
        height: 1vh;
        border: 2px solid #fff;
        margin: 3px;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.8s;

    }

    .bar:hover{
        background: #fff;

    }

    #radio1,#radio2,#radio3,#radio4{
        display: none;
    }

    .slides {
        display: flex;
        width: 400%;
        height: 100%;

    }

    .slide {
        width: 25%;
        transition: 3s;

    }

    .slide img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    #radio1:checked~.s1{
        margin-left: 0;
        
        
    }

    #radio2:checked~.s1 {
        margin-left: -25%;
    }

    #radio3:checked~.s1 {
        margin-left: -50%;
    }

    #radio4:checked~.s1 {
        margin-left: -75%;
    }

    
    
    /*Localização*/
    .menu-localization {
        position: absolute;
        display: flex;
        background: rgba(0,0,0,.8);
        width: 95vw;
        height: 10vh;
        border-radius: 10px;
        bottom: 30%;
        z-index: 1;
    }
    
    #citys{
        position: relative;
        left: 5px;
        width: 44vw;
        height: 5vh;
        text-align: center;
        background: #fff;
        top: 20%;
        border: #000;
        border-radius: 20px;
        transition: 0.7s;
        overflow: hidden;
        -webkit-appearance: none;
        font-size: 16px;
    }

    #citys:hover{
        opacity: 0.8;
        transform: translateY(-3px);
        transition: 0.7s;
    }

    #type{
        
        position: relative;
        text-align: center;
        left: 10px;
        width: 44vw;
        height: 5vh;
        border: #000;
        border-radius: 20px;
        top: 20%;
        transition: 0.7s;
        overflow: hidden;
        -webkit-appearance: none;
        font-size: 16px;
    }

    #type:hover{

        opacity: 0.8;
        transform: translateY(-3px);
        transition: 0.7s;

    }

    #search{
        position: relative;
        width: 10vw;
        left: 10px;
        height: 5vh;
        top: 20%;
        background: rgba(0,0,0,0);
        border: none;
       }

    #search img{
        
        width: 50%;
        height: 100%;
        object-fit: contain;
        transition: 0.7s;


    }

    #search img:hover{

        opacity: 0.8;
        transition: 0.7s;
        transform: scale(1.1);
    }


    /*Texto*/

    .texts {

        position: relative;
        width: 50vw;
        text-align: inherit;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 0.5px;
    }
    
    .texts h2{
        font-size: 20px;
        color: #555;
        transition: 0.5s;
        
    }
    
    .texts h2:hover{
        transform: translateY(-3px);
        transition: 0.5s;
        
    }

    .texts h1{
        
        font-size: 30px;
        color: #000;
        transition: 0.5s;
        
    }

    .texts h1:hover{
        transform: translateY(-2px);
        transition: 0.5s;
    }

    .texts p{
        color: #555;
        font-size: 20px;
        letter-spacing: -1px;
        transition: 0.5s;
    }
    
    .texts p:hover{
        transform: translateY(-2px);
        transition: 0.5s;
        
    }

    .texts .history{

        color: #559;
        background: #fff;
        position: relative;
        display: block;
        margin-left: auto;
        width: 200px;
        height: 4vh;
        border: #559 solid 0.1px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ;
        
    }

    .history:hover{

        transition: 0.3s;
        background: rgba(0, 68, 255, 0.1);
        
    }
    
    /*Propriedades*/

    .content_properties{
        top:20px;
        position: relative;
        overflow: hidden;
        width: 90vw;
        height: 40vh;
        margin: auto;
    }

    .slides_properties {
        display: flex;
        width: 400%;
        height: 100%;
    }

    .select_properties {

        display: block;
        position: absolute;
        left:4vw;
        top:50%;
        display: flex;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        justify-content: center;

    }
    
    .bar_properties1{
        
        padding: 15px;
        box-shadow: 2px -2px 0 1px #000 inset;
        border: solid transparent;
        border-width: 0 0 2px 2px;
        transform: rotate(45deg);
        cursor: pointer;
        transition: 0.6s;
    }
    
    .bar_properties2{
        
        position: relative;
        left: 82vw;
        padding: 15px;
        box-shadow: 2px -2px 0 1px #000 inset;
        border: solid transparent;
        border-width: 0 0 2px 2px;
        transform: rotate(-135deg);
        cursor: pointer;
        transition: 0.6s;
    }

    .bar_properties1:hover,.bar_properties2:hover{
        transition: margin-right 2s;
        
    }

    #radiop1,#radiop2{
        display: none;
    }

    #radiop1:checked~.p1{
        margin-left: 0;

    }

    #radiop2:checked~.p1 {
        margin-left: -25%;
        
    }

    .slide_properties img {
        width: 45vw;
        height: 40vh;
        border: 4.5px solid #fff;
        object-fit: cover;
    }

    /*Informações Propriedades*/

    .price_propertie{
        position: absolute;
        z-index: 5;
        bottom: 10%;
        margin-left: auto;
        background: rgba(0, 0, 0, 0.92);
        width: 49.8%;
        height: 25%;
        margin-right: auto;
        border-radius: 3px;
        color:#fff;
        overflow: hidden;
    }

    .price_propertie li{

        position: relative;
        margin-left: 5px;
        list-style: none;
        font-family: 'Raleway', sans-serif;
        
    }
    
    .price_propertie .plocalization{
        text-transform: uppercase;
        color: #fff;
        font-size: 20px;
        font: small-caps bold 16px/2;
        
    }

    .price_propertie .pinformations{
        color:#559;
        word-spacing: 20px;
    }

    .price_propertie .pprice{
        color:white;
    }

    .pphone a{
        position: absolute;
        color:#fff;
        font-family: 'Raleway', sans-serif;
        transition: 1s;
        
    }

    .pphone a:hover{
        background: rgba(255, 255, 255);
        color:#000;
        border-radius: 5px;
        transition: 1s;
    }

    footer{
        position: absolute;
        height: 10%;
        width: 100%;
        background: #18181B;

    }

    .s{
        display: flex;
        margin: auto;
        margin-bottom: auto;
        background: red;
        width: 90%;
        height: 100%;
    }
}
